body {
  background-color: grey;
}
form {
  max-width: 80%;
  margin: 0 auto;
}
fieldset {
  border: none;
}
main h1, p {
  text-align: center;
}
input, select, textarea {
  width: 100%;
}
.query input, input[type="checkbox"], input[type="submit"] {
  width: unset;
}
input[type="submit"] {
  display: block;
  margin: 5px auto;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 0 0 20px 0 black;
}